.profile-user-img {
    width: 150px;
    margin: 15px auto;
    padding: 3px;
    border: 1px solid #99FFCC;
}

.label {
    line-height: 1.5;
    font-size: 85%;
}

.btn-signout {
    font-size: 13px;
    box-shadow: 0px 0px 8px -3px rgba(10, 10, 10, 1);
    border-radius: 3px;
}

.form-horizontal {
    padding: 15px;
}
label {
    line-height: 15px;
}